@model Application.Core.Models.ViewModels.LoginRegisterViewModel
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table style="width:100%;">
    <tr>
        <td style="width:46%;" valign="top">@await Html.PartialAsync("_LoginPartial.cshtml",Model.loginViewModel)</td>
        <td style="width:8%;"></td>
        <td style="width:46%;">
        
            @*@await Html.PartialAsync("_RegisterPartial", new RegisterViewModel())*@  </td>
    </tr>
    
</table>